/*top部分开始*/
	.top{
		height: 45px;
		background-color: #242527;
	}
	/*top部分logo区域*/
	.top .nav-logo a img{
		float: left;
		width: 18px;
		height: 18px;
		margin-left: 20px;
		margin-top: 12px;
	}
	/*top部分中间区域*/
	.top .top-list{
		float: left;
		margin-left: 540px;
		line-height: 43px;
	}
	.top .top-list .top-item{
		float: left;
		margin-right: 38px;
		opacity: 0.7;
	}
	.top .top-list .top-item:first-child{
		opacity: 1;
	}
	.top .top-list .top-item:hover{
		opacity: 0.9;
	}
	.top .top-list a{
		font-size: 12px;
		text-decoration: none;
		color: #e5e5e5;
		cursor: pointer;
	}
	/*个人中心*/
	.top .top-user a img{
		display: inline-block;
		font-size: 16px;
		float: right;
		margin-right: 30px;
		margin-top: 14px;
		opacity: 1;
	}
	.top .top-user a img:hover{
		opacity: 0.5;
	}
	/*购物中心*/
	.top .top-shop a img{
		float: right;
		margin-right: 26px;
		margin-top: 14px;
		opacity: 1;
	}
	.top .top-shop a img:hover{
		opacity: 0.7;
	}
/*top部分结束*/
/*header部分开始*/
	.header{
		height: 74px;
	}
	/*header左侧部分*/
	.header .contanier .head-left li{
		float: left;
	}
	.header .head-left li{
		margin-left: 30px;
	}
	.header .head-left li:first-child{
		margin-left: 0px;
	}
	.header .head-left li a:hover{
		color:#5079d9;
		transition: all ,0.3s;
	}
	.header .head-left li a{
		line-height: 74px;
		color: #4e4d49;
		font-size: 14px;
		text-decoration: none;
	}
	/*head右侧部分*/
	.header .head-right{
		float:right;
		width:330px;
		height:36px;
		box-sizing: border-box;
		position: relative;
		margin-top: 20px;

	}
	.header .head-right .head-reach{
		position: relative;
		width:330px;
		height:36px;
		border:1px solid;
		border-radius: 20px;
	}
	.header .head-right input{
		position: absolute;
		left:9px;
		top:-18px;
		float:right;
		width:300px;
		height:32px;
		border:none;
		box-sizing: border-box;
		margin-top: 20px;
		color: #eaeaea;
		border-width: 1px;
		outline: none;
		padding-left: 28px;
	}
	.header .head-right span{
		position: absolute;
		top: 5px;
		left: 10px;
		font-size: 22px;
		display: inline-block;
		color: #a6a6a6;
	}
	.header .head-right .reach-right{
		float:right;
		position: absolute;
		top: 9px;
		right: 18px;
		height: 20px;
		line-height: 20px;
	}
	.header .head-right .reach-right a{
		display: inline-block;
		text-decoration: none;
		color: #3965cc;
		border:1px solid;
		cursor: pointer;
		border-radius: 10px;
		width: 44px;
		height: 20px;
		text-align: center;
		background-color: #e5efff;
		font-size: 12px;
		font-weight: bold;
	}
/*header部分结束*/
.main{
	height: 4811px;
	background-color: #ededed;
}
.footer{
	height: 356px;
	background-color: #fafafa;
}